html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
	}
	
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
	}
	
	html, body {background: #181818; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}
	
	.clear {clear: both;}
	
	p {
		font-size: 1em;
		line-height: 1.4em;
		margin-bottom: 20px;
		color: #444;
	}
	
	#cv {
		width: 90%;
		max-width: 800px;
		background: #f3f3f3;
		margin: 30px auto;
	}
	
	.mainDetails {
		padding: 25px 35px;
		border-bottom: 2px solid #cf8a05;
		background: #ededed;
	}
	
	#name h1 {
		font-size: 2.5em;
		font-weight: 700;
		font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
		margin-bottom: -6px;
	}
	
	#name h2 {
		font-size: 2em;
		margin-left: 2px;
		font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	}
	
	#mainArea {
		padding: 0 40px;
	}
	
	#headshot {
		width: 12.5%;
		float: left;
		margin-right: 30px;
	}
	
	#headshot img {
		width: 100%;
		height: auto;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}
	
	#name {
		float: left;
	}
	
	#contactDetails {
		float: right;
	}
	
	#contactDetails ul {
		list-style-type: none;
		font-size: 0.9em;
		margin-top: 2px;
	}
	
	#contactDetails ul li {
		margin-bottom: 3px;
		color: #444;
	}
	
	#contactDetails ul li a, a[href^=tel] {
		color: #444; 
		text-decoration: none;
		-webkit-transition: all .3s ease-in;
		-moz-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		-ms-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}
	
	#contactDetails ul li a:hover { 
		color: #cf8a05;
	}
	
	
	section {
		border-top: 1px solid #dedede;
		padding: 20px 0 0;
	}
	
	section:first-child {
		border-top: 0;
	}
	
	section:last-child {
		padding: 20px 0 10px;
	}
	
	.sectionTitle {
		float: left;
		width: 25%;
	}
	
	.sectionContent {
		float: right;
		width: 72.5%;
	}
	
	.sectionTitle h1 {
		font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 1.5em;
		color: #cf8a05;
	}
	
	.sectionContent h2 {
		font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
		font-size: 1.5em;
		margin-bottom: -2px;
	}
	
	.subDetails {
		font-size: 0.8em;
		font-style: italic;
		margin-bottom: 3px;
	}
	
	.keySkills {
		list-style-type: none;
		-moz-column-count:3;
		-webkit-column-count:3;
		column-count:3;
		margin-bottom: 20px;
		font-size: 1em;
		color: #444;
	}
	
	.keySkills ul li {
		margin-bottom: 3px;
	}
	
	@media all and (min-width: 602px) and (max-width: 800px) {
		#headshot {
			display: none;
		}
		
		.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
		}
	}
	
	@media all and (max-width: 601px) {
		#cv {
			width: 95%;
			margin: 10px auto;
			min-width: 280px;
		}
		
		#headshot {
			display: none;
		}
		
		#name, #contactDetails {
			float: none;
			width: 100%;
			text-align: center;
		}
		
		.sectionTitle, .sectionContent {
			float: none;
			width: 100%;
		}
		
		.sectionTitle {
			margin-left: -2px;
			font-size: 1.25em;
		}
		
		.keySkills {
			-moz-column-count:2;
			-webkit-column-count:2;
			column-count:2;
		}
	}
	
	@media all and (max-width: 480px) {
		.mainDetails {
			padding: 15px 15px;
		}
		
		section {
			padding: 15px 0 0;
		}
		
		#mainArea {
			padding: 0 25px;
		}
	
		
		.keySkills {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
		}
		
		#name h1 {
			line-height: .8em;
			margin-bottom: 4px;
		}
	}
	
	@media print {
		#cv {
			width: 100%;
		}
	}
	
	@-webkit-keyframes reset {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	
	@-webkit-keyframes fade-in {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	@-moz-keyframes reset {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	
	@-moz-keyframes fade-in {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	@keyframes reset {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	.instaFade {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 1.5s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 1.5s;
		animation-timing-function: ease-in;
	}
	
	.quickFade {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 2.5s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 2.5s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 2.5s;
		animation-timing-function: ease-in;
	}
	 
	.delayOne {
		-webkit-animation-delay: 0, .5s;
		-moz-animation-delay: 0, .5s;
		animation-delay: 0, .5s;
	}
	
	.delayTwo {
		-webkit-animation-delay: 0, 1s;
		-moz-animation-delay: 0, 1s;
		animation-delay: 0, 1s;
	}
	
	.delayThree {
		-webkit-animation-delay: 0, 1.5s;
		-moz-animation-delay: 0, 1.5s;
		animation-delay: 0, 1.5s;
	}
	
	.delayFour {
		-webkit-animation-delay: 0, 2s;
		-moz-animation-delay: 0, 2s;
		animation-delay: 0, 2s;
	}
	
	.delayFive {
		-webkit-animation-delay: 0, 2.5s;
		-moz-animation-delay: 0, 2.5s;
		animation-delay: 0, 2.5s;
	}<div class="resume">
	<div class="base">
	  <div class="profile">
		<div class="photo">
		  <!--<img src="" /> -->
		  <i class="fas fa-rocket"></i>
		</div>
		<div class="info">
		  <h1 class="name">Naomi Weatherford</h1>
		  <h2 class="job">Frontend Web Designer</h2>
		</div>
	  </div>
	  <div class="about">
		<h3>About Me</h3>I'm a web designer for Fiserv, specializing in web design, graphic design, and UX. Experienced with the Adobe Creative Suite, responsive design, social media management, and prototyping.
	  </div>
	  <div class="contact">
		<h3>Contact Me</h3>
		<div class="call"><a href="tel:123-456-7890"><i class="fas fa-phone"></i><span>123-456-7890</span></a></div>
		<div class="address"><a href="https://goo.gl/maps/fiTBGT6Vnhy"><i class="fas fa-map-marker"></i><span>Provo, Utah</span></a>
		</div>
		<div class="email"><a href="mailto:astronaomical@gmail.com"><i class="fas fa-envelope"></i><span>astronaomical</span></a></div>
		<div class="website"><a href="http://astronaomical.com/" target="_blank"> <i class="fas fa-home"></i><span>astronaomical.com</span></a></div>
	  </div>
	  <div class="follow">
		<h3>Follow Me</h3>
		<div class="box">
		  <a href="https://www.facebook.com/astronaomical/" target="_blank"><i class="fab fa-facebook"></i></a>
		  <a href="https://www.instagram.com/astronaomical/" target="_blank"><i class="fab fa-instagram "></i></a>
		  <a href="https://www.pinterest.com/astronaomical/" target="_blank"><i class="fab fa-pinterest"></i></a>
		  <a href="https://www.linkedin.com/in/naomi-weatherford-758385112/" target="_blank"><i class="fab fa-linkedin"></i></a>
		  <a href="https://codepen.io/astronaomical/" target="_blank"><i class="fab fa-codepen"></i></a>
		  <a href="https://www.behance.net/astronaomical" target="_blank"><i class="fab fa-behance"></i></a>
		</div>
	  </div>
	</div>
	<div class="func">
	  <div class="work">
		<h3><i class="fa fa-briefcase"></i>Experience</h3>
		<ul>
		  <li><span>Technical Consultant -<br>Web Design</span><small>Fiserv</small><small>Apr 2018 - Now</small></li>
		  <li><span>Web Designer</span><small>Lynden</small><small>Jan 2018 - Apr 2018</small></li>
		  <li><span>Intern - Web Design</span><small>Lynden</small><small>Aug 2017 - Dec 2017</small></li>
		</ul>
	  </div>
	  <div class="edu">
		<h3><i class="fa fa-graduation-cap"></i>Education</h3>
		<ul>
		  <li><span>Bachelor of Science<br>Web Design and Development</span><small>BYU-Idaho</small><small>Jan. 2016 - Apr. 2018</small></li>
		  <li><span>Computer Science</span><small>Edmonds Community College</small><small>Sept. 2014 - Dec. 2015</small></li>
		  <li><span>High School</span><small>Henry M. Jackson High School</small><small>Jan. 2013 - Jun. 2015</small></li>
		</ul>
	  </div>
	  <div class="skills-prog">
		<h3><i class="fas fa-code"></i>Programming Skills</h3>
		<ul>
		  <li data-percent="95"><span>HTML5</span>
			<div class="skills-bar">
			  <div class="bar"></div>
			</div>
		  </li>
		  <li data-percent="90"><span>CSS3 & SCSS</span>
			<div class="skills-bar">
			  <div class="bar"></div>
			</div>
		  </li>
		  <li data-percent="60"><span>JavaScript</span>
			<div class="skills-bar">
			  <div class="bar"></div>
			</div>
		  </li>
		  <li data-percent="50"><span>jQuery</span>
			<div class="skills-bar">
			  <div class="bar"></div>
			</div>
		  </li>
		  <li data-percent="40"><span>JSON</span>
			<div class="skills-bar">
			  <div class="bar"></div>
			</div>
		  </li>
		  <li data-percent="55"><span>PHP</span>
			<div class="skills-bar">
			  <div class="bar"></div>
			</div>
		  </li>
		  <li data-percent="40"><span>MySQL</span>
			<div class="skills-bar">
			  <div class="bar"></div>
			</div>
		  </li>
		</ul>
	  </div>
	  <div class="skills-soft">
		<h3><i class="fas fa-bezier-curve"></i>Software Skills</h3>
		<ul>
		  <li data-percent="90">
			<svg viewbox="0 0 100 100">
			  <circle cx="50" cy="50" r="45"></circle>
			  <circle class="cbar" cx="50" cy="50" r="45"></circle>
			</svg><span>Illustrator</span><small></small>
		  </li>
		  <li data-percent="75">
			<svg viewbox="0 0 100 100">
			  <circle cx="50" cy="50" r="45"></circle>
			  <circle class="cbar" cx="50" cy="50" r="45"></circle>
			</svg><span>Photoshop</span><small></small>
		  </li>
		  <li data-percent="85">
			<svg viewbox="0 0 100 100">
			  <circle cx="50" cy="50" r="45"></circle>
			  <circle class="cbar" cx="50" cy="50" r="45"></circle>
			</svg><span>InDesign</span><small></small>
		  </li>
		  <li data-percent="65">
			<svg viewbox="0 0 100 100">
			  <circle cx="50" cy="50" r="45"></circle>
			  <circle class="cbar" cx="50" cy="50" r="45"></circle>
			</svg><span>Dreamweaver</span><small></small>
		  </li>
		</ul>
	  </div>
	  <div class="interests">
		<h3><i class="fas fa-star"></i>Interests</h3>
		<div class="interests-items">
		  <div class="art"><i class="fas fa-palette"></i><span>Art</span></div>
		  <div class="art"><i class="fas fa-book"></i><span>Books</span></div>
		  <div class="movies"><i class="fas fa-film"></i><span>Movies</span></div>
		  <div class="music"><i class="fas fa-headphones"></i><span>Music</span></div>
		  <div class="games"><i class="fas fa-gamepad"></i><span>Games</span></div>
		</div>
	  </div>
	</div>
  </div>